/* RESET */
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}






html {
    font-size: 62.5%;
    background: rgb(245,245,245);
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: 'Source Sans Pro';
}

h1 {
    font-size: 3rem;
    display: inline-block;
}

h2 {
    font-size: 2.6rem;
    margin-bottom: 15px;
}
h3 {
    font-size: 2.2rem;
    margin-bottom: 15px;
}


a {
    text-decoration: underline;
    color: inherit; 
}

p {
	display: block;
	margin-bottom: 1.5rem;
}


.wrapper {
	margin: 0 auto;
	width: 90%;
	max-width: 800px;
}


header {
	background: #fff;
	margin-bottom: 30px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	
}

header .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.body-wrapper {
	margin-top: 100px;
	margin-bottom: 100px;
}




nav ul {
	margin: 30px 0;
}

nav ul li {
	line-height: 50px;
}













